* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: scroll;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}

html {
    scroll-behavior: smooth;
  }
  

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}

.portfolio span {
    color: #044063;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    scroll-behavior: smooth;
    cursor: pointer;
}

li:hover{
    transform: scale(1.3);
    transition: 0.5s;
    color: #044063;
    transition: 0.5s;
    text-decoration: underline;
}

.link-menu {
    text-decoration: none;
    color: white;
}


.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

h1 {
    color: white;
    font-size: 75px;
}

h1 span {
    color: #044063;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
}

section img {
    height: 400px;
    border-radius: 100%;
    border: 2px solid #044063;
    margin-right: 30px;
}

section div h2 {
    color: white;
    font-size: 75px;
}

section div p {
    color: #0caae9;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
}

section div a {
    color: white;
    background: #044063;
    height: 50%;
    width: 50%;
    font-size: 20px;
    text-decoration: none;
    border: 10px solid #044063;
    border-radius: 30px;
    cursor: pointer;
}

section div a:hover {
    background-color: black;
    font-size: 23px;
    border: 6px solid #044063;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    border: #044063;
    padding-top: 50px;
    padding-bottom: 100px;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
    padding-bottom: 5px;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: #0caae9;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #044063;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #044063;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.informacoes span{
    color: #044063;
    font-family:'Josefin Sans', sans-serif;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #044063;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.sobre-mim span{
    color: #044063;
    font-family: 'Josefin Sans', sans-serif;
}



/* midia queries */
/* Estilos para telas menores (por exemplo, telas de celular) */
@media screen and (max-width: 768px) {

    *{
        background-size: auto;
    }
    .caixa-principal {
        background-image: none;
        background-color: #191919; /* Adicione uma cor de fundo alternativa para dispositivos móveis */
        text-align: center;
        margin: auto;
    }

    #home{
        max-height: 300px;
    }

    .card-projetos{
        display: flex;
        flex-direction: column;
    }

    .link-menu{
        visibility: hidden;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 60px;
    }

    .portfolio {
        font-size: 20px;
    }

    .caixa-principal h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 40px;
    }


    img{
        max-height: 150px;
    }

    #sobre{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #sobre img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    #sobre a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .card{
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    background: cover;
    height: 100%;
    }

    .card a{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    li {
        font-size: 18px;
        margin: 10px 0;
    }

    .meu-nome {
        position: static;
        margin-top: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 16px;
    }

    section {
        padding: 40px 15px; /* Reduza o padding para economizar espaço em dispositivos móveis */
        text-align: center;
    }

    section img {
        max-width: 100%;
        height: auto;
    }

    section div h2 {
        font-size: 28px;
    }

    section div p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    section div a {
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 20px;
    }

    .projetos {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .projetos h2 {
        font-size: 32px;
    }

    .card {
        width: 90%;
        margin: 0 auto 20px;
    }

    .card img {
        max-width: 100%;
        height: auto;
    }

    .card h5 {
        font-size: 20px;
    }

    .card p {
        font-size: 14px;
    }

    .card a {
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 20px;
    }

    footer h5 {
        font-size: 24px;
    }

    footer p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .social img {
        height: 24px;
    }

    .social a {
        height: 40px;
        width: 40px;
    }
}


